body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
    --font-poppins: Poppins;
  
    /* font sizes */
    --font-size-21xl: 40px;
    --font-size-xl: 20px;
    --font-size-9xl: 28px;
  
    /* Colors */
    --color-white: #fff;
    --color-gainsboro: #e0e7ee;
    --color-black: #000;
  
    /* Paddings */
    --padding-3xs: 10px;
    --padding-21xl: 40px;
    --padding-20xl: 39px;
  }
  